<!DOCTYPE html> <html ng-app="theSandboxChallenge.setup" ng-cloak ng-controller="SetupCtrl as setupCtrl"> <head> <meta charset="utf-8"/> <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> </head> <body> <div class="container"> <div sandbox-challenge options="setupCtrl.options">
<!--↓↓↓ Make your changes BELOW here ↓↓↓-->


<%= htmlTemplate %>






































































        <!--↑↑↑ Make your changes ABOVE here ↑↑↑-->
</div> </div> <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> <link rel="stylesheet" href="<%= distFolder %>/styles.css"/> <script src="http://static.jsbin.com/js/vendor/traceur.js"></script> <script src="<%= distFolder %>/app.concat.js"></script> <script src="<%= distFolder %>/<%= setupFolder %>/setup.js"></script> </body> </html>